* {
    appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Fira Mono', monospace;
    color: rgba(255,255,255,.8);
}

body {
    margin: 0;
    background: #222;
}

main {
    height: 100vh;
}

main > section {
    height: inherit;
    display: flex;
    flex-direction: column;
}

main > section > header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header > aside {
    padding: .5rem .75rem;
    border: 2px solid rgba(255,255,255,.8);;
    border-radius: .5rem;
}

/*
header > aside p {
    animation: fade 1s ease;
}
@keyframes fade {
    0% { transform: translateY(-.5rem); opacity: 0; }
    25% { transform: translateY(0rem); opacity: 1; }
    75% { transform: translateY(0rem); opacity: 1; }
    100% { transform: translateY(-.5rem); opacity: 0; }
}
*/
main > section .center-stage {
    background: linear-gradient(162.92deg, rgba(255, 0, 92, 0.3) 0%, rgba(255, 0, 92, 0) 99.34%), #193B64;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 100vh;
    transition: background .2s ease;
}

.center-stage.correct {
    background: rgb(27, 127, 95);
}

.center-stage.wrong {
    background: red;
}

main section > footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer input[type="tel"] {
    appearance: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    background: none;
    border: none;
    color: rgba(255,255,255,.8);
}

footer input[type="tel"]:focus {
    outline: none;
}