* {
    appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Fira Mono', monospace;
    color: rgba(255, 255, 255, .8);
}   

body {
    margin: 0;
    background: linear-gradient(162.92deg, rgba(255, 0, 92, 0.3) 0%, rgba(255, 0, 92, 0) 99.34%), #193B64;
}

main {
    height: 100vh;
}

main > section {
    height: inherit;
    display: flex;
    flex-direction: column;
}

main > section > header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header>aside {
    padding: .5rem .75rem;
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: .5rem;
}

main>section .center-stage {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: background .2s ease;
}

body.correct {
    background: rgb(27, 127, 95);
}

.center-stage .problem {
    font-size: 5rem;
    color: rgba(255, 255, 255, .8);
    padding: 1rem;
    margin: auto;
    transform: translateY(2rem);
    animation: slideup .2s ease;
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(2rem);
    }
}

.center-stage .answer {
    font-size: 2.2rem;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section>footer .keyboard {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    gap: 1px;
}

.keyboard .num {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease;
    border-radius: .25rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0,.2);
}

.clear, .blank {
    background: none !important;
    box-shadow: 0 0 0 0.0 !important;
    color: rgba(255,255,255,.4);
}

.clear:active {
    color: rgba(255, 255, 255, .8);
}

.keyboard .num:active {
    transform: scale(.92);
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 1rem rgba(0, 0, 0,.4);
}

#settings {
    padding: 2rem;
    justify-content: center;
}

#settings .tables {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

.tables button {
    width: 5rem;
    height: 5rem;
    border: none;
    appearance: none;
    border-radius: 999rem;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.5rem;
}
.tables button:active {
    color: #222;
    background-color: white;
}