* {
    appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Fira Mono', monospace;
}

body {
    margin: 0;
    background: pink;
}

main {
    height: 100vh;
}

main > section {
    height: inherit;
    display: flex;
    flex-direction: column;
}

main > section > header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header > aside {
    padding: .5rem .75rem;
    border: 2px solid #222;
    border-radius: .5rem;
}

/*
header > aside p {
    animation: fade 1s ease;
}
@keyframes fade {
    0% { transform: translateY(-.5rem); opacity: 0; }
    25% { transform: translateY(0rem); opacity: 1; }
    75% { transform: translateY(0rem); opacity: 1; }
    100% { transform: translateY(-.5rem); opacity: 0; }
}
*/
main > section .center-stage {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 100vh;
}

main section > footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer input[type="tel"] {
    appearance: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    background: none;
    border: none;
}

footer input[type="tel"]:focus {
    outline: none;
}